<div class="childPage">
  <h2>Reference Links</h2>
  <hr>
  <div class="grooveClass">
    <ul>
        <li>
            <a target="_blank" href="http://csharp-video-tutorials.blogspot.com/2017/12/">
              KV Angular 5</a>
          </li>
      <li>
        <a target="_blank" href="https://www.google.com/url?q=https://medium.com/@beeman/tutorial-styling-angular-cli-v6-apps-with-bootstrap-8d4f8ea5adae&sa=D&source=hangouts&ust=1533785669134000&usg=AFQjCNEsRPCeZEcNECJoRrrRpR_vodx5RA">
          Header & Footer With Layoutpage Designing</a>
      </li>
      <li>
        <a target="_blank" href="https://stackoverflow.com/questions/33378641/keep-menu-open-on-hovering-over-a-link">
          Header Menu Hovering</a>
      </li>
      <li>
        <a target="_blank" href="https://www.google.com/url?q=https://github.com/cornflourblue/angular-6-registration-login-example-cli&sa=D&source=hangouts&ust=1533785669134000&usg=AFQjCNHzRtg4BVYZ_jY-Jqa_epReisyFQg">
          Registration And Login Page</a>
      </li>
      <li>
        <a target="_blank" href="https://www.npmjs.com/package/angular-6-datatable">Angular Datatable</a>
      </li>
      <li>
        <a href="https://www.w3schools.com/bootstrap/bootstrap_theme_company.asp">
          Aboutus And Contactus Page</a>
      </li>
    </ul>
  </div>
</div>