<div class="childPage">
  <h2>About us</h2>
  <hr>
  <div id="about" class="container-fluid grooveClass">
    <div class="row">
      <div class="col-sm-8">
        <p>
          Our work is not about completing a project only, Its more than that. We believe that passion and enthusiasm driven work inherits
          quality and stability all by itself. You can rest assured that your project is in good hands and it will be delivered
          with ease and quality that you expect.
        </p>
        <p class="animated fadeInUp">The company grew leaps and bounds with over 350 (and counting…) successful customized web applications and solutions
          empowering businesses around the world to harness the force of technology to enrich human lives and increase business
          efficiency.
        </p>
        <p class="animated fadeInUp">We take immense pleasure to say that 70% of our business comes from existing clients. Our clients choose us time
          and time again as they trust us to deliver effective solutions that meet their specific business requirements.
          Needless to say, transparency in our business deal has been our greatest strength. </p>
      </div>
    </div>
  </div>
</div>