<div class="childPage">
  <h2>Upload Document</h2>
  <hr>
  <div id="about" class="container-fluid grooveClass">
    <div class="row">
      <div class="col-sm-8">
        <h3>File Upload Using Angular 5 and ASP.NET Core 2.1</h3>
        <input #file type="file" multiple (change)="upload(file.files)" />
        <br />
        <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
          {{progress}}%
        </span>

        <span style="font-weight:bold;color:green;" *ngIf="message">
          {{message}}
        </span>

        <button [disabled]='isDisabled'>Click Me</button>
        <button disabled='{{isDisabled}}'>Click Me</button>
      </div>
    </div>
  </div>
</div>