<div class="childPage">
  <h2>Contact us</h2>
  <hr>
  <div id="contact" class="grooveClass container-fluid bg-grey">
    <div class="row"  style="margin: 2%;" >
      <div class="col-sm-5">
        <h6>Contact us and we'll get back to you within 24 hours.</h6>
        <p>
          <span class="fa fa-map-marker fa-2x"></span> India</p>
        <p>
          <span class="fa fa-phone fa-2x"></span> +91 8866782413</p>
        <p>
          <span class="fa fa-envelope fa-2x"></span> mayur.p@elaunchinfotech.com</p>
      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        <br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>